body {
    margin: 30px;
    padding: 30px;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
}
main {
padding-left: 55%;
}
nav {
    margin-top: 30px;
    margin-bottom: 30px;
}
button {
    width: 180px;
    height: 40px;
margin-left: 55%;
margin-top: 50px;
background-color: rgb(7, 118, 209);
}
.up {
    width: 150px;
    height: 70px;
}
.line {
    text-align: justify;
}