body {
    margin: 30px;
    padding: 30px;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
}
main {
padding-left: 55%;
}
nav {
    margin-top: 30px;
    margin-bottom: 30px;
}
button {
margin-left: 55%;
background-color: blue;
}