body {
    margin: 30px;
    padding: 30px;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
}
main {
padding-left: 55%;
}
nav {
    margin-top: 30px;
    margin-bottom: 30px;
}
button {
    width: 50px;
    height: 20px;
margin-left: 55%;
margin-top: 50px;
background-color: rgb(7, 118, 209);
}